p {
    text-align: center;
    font-size: 32px;
}

div {
    text-align: center;
}

button {
    font-size: 24px;
}

.container {
    margin-left: 100px;
}

.container p {
    float: left;
    margin-left: 25px;
}